@charset "utf-8";
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* layout */
* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}
a {
  text-decoration: none;
}

a.background–light {
color: black;
}
a.background–dark {
color: white;
}

/* .page */
/* min-heightは100%でページ内容が100％を超えたら縦に伸びるというマークアップ
   一個外にマークアップ用のdivを挟むとうまくいく
   通常フローで配置されたheight:100%;の要素を「ブラウザ画面の高さ100%」で表示させたい場合
   ブロックボックスを形成する祖先要素それぞれに対してもheight:100%;を指定する必要がある
   （％は親要素が基準になるから、その祖先全てにheight:100%;にしなきゃだめ） */
.page {
  position: relative;
  height: auto;
  min-height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* #home01 */
#home01 {
  height: 100%;
  background-image: url('../images/images01.jpg')
}
#home01 .page-contenttop {
  box-sizing: border-box;
  padding: 70px 5%;
}
#home01 .page-contenttop .toplogo {
  float: left;
}
#home01 .page-contenttop .page-list {
  float: right;
  padding: 0;
  font-size: 20px;
  line-height: 0;
}
#home01 .page-contenttop .page-list li {
  display: inline-block;
  margin: 0 10px;
}
#home01 .page-content {
  box-sizing: border-box;
  padding: 20px 5% 0 5%;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: calc(100% - 140px - 95px);
}
#home01 .page-content .link-list {
  font-size: 40px;
  line-height: 60px;
}
#home01 .page-content .link-list li {
  display: inline;
}
#home01 .page-content .link-list li:before {
  content: " / ";
}
#home01 .page-content .link-list li:first-child:before {
  content: "";
}
#home01 .page-content .link-list li a {
  display: inline-block;
}

/* #home02 */
#home02 {
  height: 100%;
  background-image: url('../images/images01.jpg')
}
#home02 .page-contenttop {
  box-sizing: border-box;
  padding: 70px 5%;
}
#home02 .page-contenttop .toplogo {
  float: left;
}
#home02 .page-contenttop .page-list {
  float: right;
  padding: 0;
  font-size: 20px;
  line-height: 0;
}
#home02 .page-contenttop .page-list li {
  display: inline-block;
  margin: 0 10px;
}
#home02 .page-content {
  box-sizing: border-box;
  padding: 300px 9% 0 9%;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: calc(100% - 140px - 95px);
}
#home02 .page-content .link-list {
  font-size: 40px;
  line-height: 60px;
}
#home02 .page-content .link-list li {
  display: inline;
}
#home02 .page-content .link-list li:before {
  content: " / ";
}
#home02 .page-content .link-list li:first-child:before {
  content: "";
}
#home02 .page-content .link-list li a {
  display: inline-block;
}

/* #home03 */
#home03 {
  height: 100%;
  background-image: url('../images/images01.jpg')
}
#home03 .page-contenttop {
  box-sizing: border-box;
  padding: 70px 5%;
}
#home03 .page-contenttop .toplogo {
  float: left;
}
#home03 .page-contenttop .page-list {
  float: right;
  padding: 0;
  font-size: 20px;
  line-height: 0;
}
#home03 .page-contenttop .page-list li {
  display: inline-block;
  margin: 0 10px;
}
#home03 .page-content {
  box-sizing: border-box;
  padding-left: 5%;
  text-align: left;
  position: relative;
  overflow: hidden;
  height: calc(100% - 140px - 95px);
}
#home03 .page-content .link-list {
  font-size: 40px;
  line-height: 60px;
}

/* #home04 */
#home04 {
  height: 100%;
  background-image: url('../images/images01.jpg')
}
#home04 .page-contenttop {
  box-sizing: border-box;
  padding: 70px 5%;
}
#home04 .page-contenttop .toplogo {
  float: left;
}
#home04 .page-contenttop .page-list {
  float: right;
  padding: 0;
  font-size: 20px;
  line-height: 0;
}
#home04 .page-contenttop .page-list li {
  display: inline-block;
  margin: 0 10px;
}
#home04 .page-content {
  box-sizing: border-box;
  padding-right: 5%;
  text-align: right;
  position: relative;
  overflow: hidden;
  height: calc(100% - 140px - 95px);
}
#home04 .page-content .link-list {
  font-size: 40px;
  line-height: 60px;
}

/* #home05 */
#home05 {
  height: 100%;
  background-image: url('../images/images01.jpg')
}
#home05 .page-contenttop {
  box-sizing: border-box;
  padding: 70px 5%;
}
#home05 .page-contenttop .toplogo {
  float: left;
}
#home05 .page-contenttop .page-list {
  float: right;
  padding: 0;
  font-size: 20px;
  line-height: 0;
}
#home05 .page-contenttop .page-list li {
  display: inline-block;
  margin: 0 10px;
}
#home05 .page-content {
  box-sizing: border-box;
  padding: 100px 20% 0 20%;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: calc(100% - 140px - 95px - 110px);
}
#home05 .page-content .link-list {
  font-size: 32px;
  line-height: 45px;
}
#home05 .page-content .link-list li {
  display: inline;
}
#home05 .page-content .link-list li:before {
  content: " / ";
}
#home05 .page-content .link-list li:first-child:before {
  content: "";
}
#home05 .page-content .link-list li a {
  display: inline-block;
}
